@import "./phoenix.css";


@media screen and (max-width: 600px) {
    .pc-only {
        display: none !important;
    }


    .code {
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 12px;
        white-space: pre-wrap;
        line-height: 1;
    }
}
@media not (screen and (max-width: 600px)) {
    .phone-only {
        display: none !important;
    }
}

#completion-list li:hover {
    color: #EE306F;
}

#main-block {
    padding-left: 30px;
}

.code {
    font-family: "Lucida Console", Monaco, monospace;
    white-space: pre-line;
    line-height: 1;
}

#prompt {
    white-space: normal;
}
.code li.out:before {
    content: ' ';
    margin-left: -20px;
    margin-right: 10px;
}

.code li.in {
    list-style-position: inside;
    list-style:none;
    padding-left: 0;
}
.code li.out {
    list-style-position: inside;
    list-style:none;
    padding-left: 0;
    font-weight: 900;
    color: #EE306F;
}

.code #query-input {
}
