@import "./phoenix.css";


@media screen and (max-width: 600px) {
    .pc-only {
        display: none !important;
    }


    .code {
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 12px;
        white-space: pre-wrap;
        line-height: 1;
    }
}
@media not (screen and (max-width: 600px)) {
    .phone-only {
        display: none !important;
    }
}

#autocompletion-block {
    /* height: 100%; /\* Full-height: remove this if you want "auto" height *\/ */
    max-width: 200px; /* Set the width of the sidebar */
    /* position: fixed; /\* Fixed Sidebar (stay in place on scroll) *\/ */
    z-index: 1; /* Stay on top */
    /* top: 0; /\* Stay at the top *\/ */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;

    border-color: #333;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;

}

#completion-list li:hover {
    color: #EE306F;
}

#main-block {
    padding-left: 30px;
}

.code {
    font-family: "Lucida Console", Monaco, monospace;
    white-space: pre-wrap;
    line-height: 1;
}

.code li.in:before {
    content: '⮚';
    margin-left: -20px;
    margin-right: 10px;
}
.code li.out:before {
    content: '⮘';
    margin-left: -20px;
    margin-right: 10px;
}

.code li.in {
    list-style:none;
}
.code li.out {
    list-style:none;
    font-weight: 900;
    color: #EE306F;
}

.code #query-input {
}
