
Type some Sophia here!

<div class="repl">
    <div id="outputs"></div>
    <textarea id="query-input"></textarea>
</div>

<sub>
    (Note, this is a very alpha version. Treat it more like a toy)
</sub>
